h1{
    color: rgb(223, 192, 16);
    font-size: 120px;
    text-align: center;
    text-shadow: 2px 15px 20px rgb(75, 75, 72);
    font-family: 'Teko', sans-serif;
    font-variant: small-caps;
    margin-bottom: 0%;
    background: blue;
    border: 50px outset lightgreen;
}
h2{

    color: rgb(207, 198, 194);
    text-align: center;
    margin-top: 0%;
    line-height: 0px;
    font-family: 'Share Tech Mono';
}

p{
    color: rgb(60, 255, 0);
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    
}
button{
    background-color: rgb(243, 226, 194);
}
button:hover{
    background-color: rgb(109, 243, 143);
    color: rgb(255, 253, 250);
    
}

button:active{
    background-color: rgb(27, 29, 28);
    color: rgb(255, 253, 250);
    
}
body{
    background: orange;
    text-align: center;


}

.container{
    background-color: rgba(63, 8, 8, 0.4);
    height: 200px;
    width: 400px;
    align-content: center;
    box-shadow: 2px 5px 5px 2px rgba(13, 105, 226, 0.418), -2px -5px 5px 2px rgba(72, 255, 0, 0.753);
    border-radius: 5px;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(190, 224, 238, 0.986);
    position: relative;


} 
h6{    
    text-align: justify;
    position: absolute;
    margin-left: 10px;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
    


}